<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    

    @RenderSection("head", false)
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Fresh off the press - Ryan S. Hutton</h1>
            </div>

            
            

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Submit An Article!", "SubmitArticle", "Home")</li>
                    <li>@Html.ActionLink("About this site", "About", "Home")</li> 
                    
                </ul>

            </div>
       

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>